<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users New</title>

    <style>
        div {
            margin: 15px;
        }
    
    </style>
</head>
<body>

    <div>
        <h1>Add a new user</h1>
    </div>

    <div>
        <form action="{% url 'create'%}" method="POST">
        {% csrf_token%}

        <p>First Name:</p><input type="text" name="first_name">
        <p>Last Name:</p><input type="text" name="last_name">
        <p>Email</p><input type="text" name="email">
        <p><input type="submit" value="Create"></p>

        </form>
    </div>

    <div>
        <p><a href="{% url 'index'%}"Go Back</p>
    </div>
    
</body>
</html>